.explore-text{
   font-family: $title-font;
   line-height: 26px;
   text-transform: capitalize;
   margin-bottom: 24px;
}
.explore-list{
   margin-bottom: 38px;
}
.explore-list{
   li {
      position: relative;
      margin: 0 0 10px 0;
      padding: 0 0 0 25px;
      transition: all ease 0.4s;
      color: #555555;
      font-family: $title-font;
      &::before {
         content: "";
         border: 5px solid $secondary-color;
         background-color: $title-color;
         width: 16px;
         height: 16px;
         display: inline-block;
         border-radius: 50%;
         position: absolute;
         left: 0;
         top: 4px;
      }
   }
} 

.picture-box1{
   position: relative;
   .media-box1{
      position: absolute;
      top: 13%;
      right: 0;
      background-color: $secondary-color;
      padding: 45px;
      border-radius: 10px;
      .media-title{
         color: $white-color;
         font-size: 36px;
         font-family: $title-font;
         line-height: 46px;
         font-weight: 700;
         text-transform: capitalize;
         margin-bottom: 10px;
      }
      .media-text{
         font-size: 24px;
         color: $white-color;
         font-family: $title-font;
         text-transform: capitalize;
         line-height: 36px;
         font-weight: 600;
         margin: 0;
      }
   }
   &.style1{
      margin-bottom: -50px;
      text-align: start;
      z-index: 1;
   }
   &.style2{
      .media-box1{
         top: unset;
         right: unset;
         bottom: 13%;
         left: 0;
         background-color: $theme-color;
      }
      text-align: end;
      z-index: 0;
   }
}
.explore-shape{
   top: -5%;
   left: 0%;
}
.img_box1 {
   position: relative;
   &.style2{
      margin-top: 55px;
   }
   
   .img_1,
   .img_2 {
       border-radius: 0px;
       overflow: hidden;
       width: max-content;
       max-width: 100%;
       position: relative;
       z-index: 1;
       img{
         border-radius: 0;
         height: 100%;
         width: 100%;
      }
   }
   
   .img_2 {
       right: 35px;
       z-index: 0;
       margin: -62px 0 0 auto;
   }

   .exp_box1 {
       background-color: $secondary-color;
       position: absolute;
       right: 10px;
       top: 50px;
       padding: 45px 30px;
       border-radius: 10px;
       z-index: 1;

       &:last-child {
           top: auto;
           right: auto;
           left: -30px;
           bottom: 50px;
           background-color: $theme-color;
       }
   }

   .exp_box {
       &_title {
           color: $white-color;
           margin: 0;
           font-size: 34px;
       }

       &_text {
           color: $white-color;
           font-size: 20px;
           font-weight: 400;
           margin: 0;
       }
   }
}
@include lg{
   .picture-box1 {
      margin-bottom: 30px;
  }
  .img_box1{
   &.style2{
      margin-top: 50px;
   }
  }
  
}
@include md {
   .img_box1 {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       gap: 20px;
       margin-bottom: 80px;
       &.style2{
          margin-top: 0px;
          margin-bottom: 0;
       }
       .img_1,
       .img_2 {
           width: 100%;
           img{
              border-radius: 10px;
           }
       }
       .img_2 {
           margin: 0;
           right: 0;
       }
       .exp_box1 {
           top: auto;
           bottom: 30px;
           background-color: #0f6bacdb;
           padding: 24px 24px;
           backdrop-filter: blur(3px);
           &:last-child {
            top: auto;
            right: auto;
            left: 0;
            bottom: 30px;
        }
       }
      .exp_box_title{
            font-size: 30px;
      }
   }
   .picture-box1{
      &.style1{
         .img-1{
            margin-bottom: 30px;
         }
       }
   }
}

@include sm {
   .img_box1 {
       .exp_box1 {
           top: 0;
           left: 0;
           padding: 15px 15px;
           border-radius: 10px;
           position: relative;
           text-align: center;
           background-color: $theme-color;

           &:last-child {
               bottom: 0;
           }
       }

       .exp_box_title {
           font-size: 18px;
       }

       .exp_box_text {
           font-size: 12px;
       }
   }
}